:root {
    font: 20px/1.2 "Roboto", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --font-color: #333333;
    --link-color: #3897d3;
    --link-hover-color: #6dacd3;
    --modal-bg-color: #fefefe;
    --modal-border-color: #888888;
    --success-color: green;
    --circle-color: #008000;
    --time-color: #636363;
}

[data-theme="dark"] {
    --bg-color: #202124;
    --font-color: #ffffff;
    --link-color: #8ab4f8;
    --link-hover-color: #bdbdbd;
    --modal-bg-color: #2c2c2c;
    --modal-border-color: #4b4b4b;
    --success-color: #8dff95;
    --circle-color: #8dff95;
    --time-color: #cfcfcf;
}

body,
body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

.headline__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;  
}

.profile {
    border-radius: 50%;
}

figure * {
    display: block;
    margin-bottom: 4em;
}

figure:last-child {
    margin-bottom: -70px;
}

article {
    padding: 2em 0 0.5em;
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
}

article * {
    grid-column: start / end;
}

.rounded {
    border-radius: 5px;
}

@media (max-width: 768px) {
    article {
        grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    }
}

p {
    margin-bottom: 1em;
}

.challenge-text {
    color: var(--time-color);
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.challenge-text-accent {
    font-weight: 900;
    color: var(--link-color);
}

h1 {
    font: 900 1.4rem/1.2 "Roboto";
    color: var(--font-color);
}

h2 {
    font: 500 1rem/1.2 "Roboto";
    color: var(--time-color);
}

/* less than 687px wide */
h3 {
    font: 500 1rem/1.2 "Roboto";
    color: var(--font-color);
}

/* 688px or larger */
@media (min-width: 43em) {
    h3 {
        font: 500 1.5rem/1.2 "Roboto";
    }
}

time {
    font: 400 0.9rem/1.2 "Roboto";
    color: var(--time-color);
    margin-bottom: 10px;
}

p {
    font: 400 0.9rem/1.5 "Roboto";
    color: var(--font-color);
}

figcaption p {
    font: 400 0.8rem/1.5 "Roboto";
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    border-bottom: 1px solid;
}

@media (max-width: 768px) {
    :root {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 20px;
    }
}

.size-1 {
    grid-column: 4 / 5;
}

/* Image Sizes */
.size-2 {
    grid-column: 1 / 8;
    margin: 0 10px;
}

/* 688px or larger */
@media (min-width: 43em) {
    .size-2 {
        grid-column: 3 / 6;
    }
}

.size-3 {
    grid-column: 2 / 7;
}

.size-4 {
    grid-column: 1 / 8;
}

.size-1 img,
.size-2 img,
.size-3 img,
.size-4 img {
    width: 100%;
}

figcaption {
    margin-top: 0.5rem;
    display: flex;
    justify-content: right;
}

.divider {
    margin: 0 auto;
}

.triangle {
    background-color: var(--time-color);
    height: 0.1vh;
    width: 40vw;
}

.footer {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.footer a {
    border-bottom: none;
    color: var(--font-color);
}

.footer a:hover {
    color: var(--link-hover-color);
}

.footer__social__container {
    text-align: center;
    margin-bottom: 10px;
}

.footer__social a {
    display: inline-block;
    height: 1.25rem;
    border-bottom: none;
}

.footer__social a svg path {
    transition: fill 150ms ease-in-out;
}

.footer__social a svg path {
    fill: var(--font-color);
}

.footer__social a:hover svg path {
    fill: var(--link-hover-color);
}

.footer__social a:not(:last-child) {
    margin-right: 1rem;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-left: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 30px;
    font-size: 0.8rem;
}

.nav-item:last-child {
    margin-right: 20px;
}

@media (min-width: 768px) {
    .nav-item:last-child {
        margin-right: 40px;
    }
}

.theme-switch-wrapper svg path {
    fill: var(--link-color);
}

.theme-switch-wrapper label:hover svg path {
    fill: var(--link-hover-color);
    transition: 150ms ease-in-out;
}

.theme-switch input {
    display: none;
}

label {
    cursor: pointer;
}