.footer {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.footer a {
    border-bottom: none;
    color: var(--font-color);
    font-weight: 300;
}

.footer a:hover {
    color: var(--link-hover-color);
}