:root {
  --bg-color: #FFFFFF;
  --font-color: #333333;
  --link-color: #3897d3;
  --link-hover-color: #6dacd3;
  --modal-bg-color: #fefefe;
  --success-color: green;
  --modal-border-color: #888888;
  --btn-border-color: #D6D6D6;
  --btn-hover-color: #000000;
  --btn-text-color: #000000;
  --btn-text-hover-color: #FFFFFF;
}

[data-theme="dark"] {
  --bg-color: #202124;
  --font-color: #FFFFFF;
  --link-color: #8AB4F8;
  --link-hover-color: #bdbdbd;
  --modal-bg-color: #494949;
  --success-color: #8DFF95;
  --btn-border-color: #D6D6D6;
  --btn-hover-color: #3b3b3b;
  --btn-text-color: #FFFFFF;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  min-height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0 20px 20px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

.about__text {
  font-size: 20px;
}

.logo {
  border-radius: 50%;
  margin-top: 40px;
}

.about {
  line-height: 1.5;
  max-width: 400px;
  text-align: left;
  display: block;
  margin: 0 auto 15px;
}

.btn {
  display: block;
  max-width: 400px;
  margin: 0 auto 15px;
  padding: 15px 20px;
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--btn-text-color);
  border: 1px solid var(--font-color);
  border-radius: 5px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background-color: var(--btn-hover-color);
  color: var(--btn-text-hover-color);
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
}

.footer__social__container {
  text-align: center;
  margin-bottom: 10px;
}

.footer__social a {
  display: inline-block;
  height: 1.25rem;
  border-bottom: none;
}

.footer__social a svg path {
  transition: fill 150ms ease-in-out;
}

.footer__social a svg path {
  fill: var(--font-color);
}

.footer__social a:hover svg path {
  fill: var(--link-hover-color);
}

.footer__social a:not(:last-child) {
  margin-right: 1rem;
}

.footer {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 10px;
}

.footer a {
  border-bottom: none;
  color: var(--font-color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--link-hover-color);
}
