html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: #333333;
  min-height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0 39px 20px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

.about__text {
  font-size: 20px;
}

.logo {
  border-radius: 50%;
  margin-top: 40px;
}

.about {
  line-height: 1.5;
  max-width: 400px;
  text-align: left;
  display: block;
  margin: 0 auto 15px;
}

.btn {
  display: block;
  max-width: 400px;
  margin: 0 auto 15px;
  padding: 15px 20px;
  font-size: 0.85rem;
  font-weight: bold;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 5px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background-color: #000000;
  color: #FFFFFF;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
}

.footer__social__container {
  text-align: center;
}

.footer__social a {
  display: inline-block;
  height: 1.25rem;
  border-bottom: none;
}

.footer__social a svg path {
  transition: fill 150ms ease-in-out;
}

.footer__social a:hover svg path {
  fill: #6dacd3;
}

.footer__social a:not(:last-child) {
  margin-right: 1rem;
}

.footer {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 10px;
}

.footer a {
  border-bottom: none;
  color: #333333;
  text-decoration: none;
}

.footer a:hover {
  color: #6dacd3;
}
