.footer {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .footer a {
    border-bottom: none;
    color: var(--font-color);
  }
  
  .footer a:hover {
    color: var(--link-hover-color);
  }