/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.theme-switch input {
    display: none;
}

label {
    cursor: pointer;
}

label:hover {
    opacity: 0.5;
    transition: 150ms ease-in-out;
}