.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.theme-switch-wrapper svg path {
    fill: var(--link-color);
}

.theme-switch-wrapper label:hover svg path {
    fill: var(--link-hover-color);
    transition: 150ms ease-in-out;
}

.theme-switch input {
    display: none;
}

label {
    cursor: pointer;
}